<footer class="text-muted">
    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-12">
                <ul class="nav pe-0">
                    <li class="nav-item ms-sm-3 ms-2">
                        <small>
                            <a class="text-muted" href="https://www.youtube.com/@Mohajerhub" title="کانال یوتیوب مهاجرهاب">
                                کانال یوتیوب مهاجرهاب
                            </a>
                        </small>
                    </li>
                    <li class="nav-item ms-sm-3 ms-2">
                        <small>
                            <a class="text-muted" href="{{ '/هزینه-زندگی-در-استرالیا' | relative_url }}" title="هزینه زندگی در استرالیا">
                                هزینه زندگی در استرالیا
                            </a>
                        </small>
                    </li>
                    <li class="nav-item ms-sm-3 ms-2">
                        <small>
                            <a class="text-muted" href="{{ '/فرهنگ-لغات-و-اصطلاحات' | relative_url }}" title="فرهنگ لغات و اصطلاحات>">
                                فرهنگ لغات و اصطلاحات
                            </a>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-5 pb-md-0">
                <p class="text-muted text-center">
                    <small>تمامی حقوق برای مهاجرهاب محفوظ است.</small>
                </p>
            </div>
        </div>
    </div>
</footer>
